body {
    background: #fff;
}

#header {
    background: #000;
    padding: 2px;
}

#footer {
    background: #000;
    bottom: 0;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 4.3vw;
}

h2 {
    color: #fff;
    font-size: 3.2vw;
}