 <div class="well">
    <form id="login-form" method="POST" action="users/authenticate" novalidate="novalidate">
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required title="Please enter you username" placeholder="example@email.com">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required title="Please enter your password">
            <span class="help-block"></span>
        </div>
        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" id="remember"> Remember login
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block ui-element" data-action="post" data-form="login-form">Login</button>
    </form>
</div>